.galery_grid {
    a {
        text-decoration: none;
    }
    margin-top: 10px;
    margin-left: 190px;
}


.galery_grid img {
    margin: 20px;
    border: 1px solid #ac9176;
    transition: all 300ms;

}

.galery_grid img:hover {
    transform: scale(1.05);
}