@import url('./navbar.css');
@import url('./slider.css');
@import url('./cards.css');
@import url('./simple-gallery.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  position: relative;
}

.main-50 {
  background-image: url('../images/main-pattern.png');
  background-repeat: repeat;
  margin-left: 50%;
  padding: 15px;
  width: 50%;
}

.main-30 {
  background-image: url('../images/main-pattern.png');
  background-repeat: repeat;
  margin-left: 70%;
  padding: 15px;
  width: 30%;
}

.main-galery{
  background-image: url('../images/main-pattern.png');
  background-repeat: repeat;
  margin-left: 230px;
  width: 100%;
  height: 100%;
}


.hr1 {
  background-image: url('../images/hr1.png');
  background-repeat: repeat;
  height: 8px;
  margin: 21px auto;
  width: 131px;
}

.hr2 {
  background-image: url('../images/hr2.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 8px;
  margin: 21px auto;
  width: 75%;
}

.hr3 {
  background-image: url('../images/hr3.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 8px;
  margin: 21px auto;
  width: 75%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #333333;
  z-index: 9999;
}

.loader .circle {
  border: 10px solid #755b40;
  border-radius: 50%;
  border-top: 10px solid #ac9176;
  border-bottom: 10px solid #ac9176;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.hide {
  display: none;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
